@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-image: url('back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 5px;
}

label:after {
  content: " *";
  color: #e74c3c;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333;
  transition: box-shadow 0.3s ease-in-out;
}

textarea {
  height: 150px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#character-count {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #999999;
  margin-bottom: 10px;
}

button[type="submit"],
button[type="reset"] {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"] {
  background-color: #27ae60;
  color: #ffffff;
}

button[type="reset"] {
  background-color: #ffffff;
  color: #333333;
  margin-left: 10px;
  border: 1px solid #333333;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  transform: translateY(-3px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}